<!-- # LinkedInLogin_app/home.html -->

{% extends 'base.html' %} {% load socialaccount %}

{% block content %}
<div class="container" style="text-align: center; padding-top: 10%;">
  <h1>Django Authentication with LinkedIn</h1>

  <br /><br />

  {% if user.is_authenticated %}
    <h3>Welcome {{ user.username }} !!!</h3>
    <br /><br />
    <a href="{% url 'account_logout' %}" class="btn btn-danger">Logout</a>
  {% else %}
    <!-- LinkedIn button code starts here -->
    <a href="{% provider_login_url 'linkedin_oauth2' %}" class="btn btn-secondary">
      <i class="fa fa-linkedin fa-fw"></i>
      <span>Login with LinkedIn</span>
    </a>
    <!-- LinkedIn button code ends here -->
  {% endif %}
</div>

{% endblock content %}