SECRET_KEY=
DEBUG=


# Database configuration
 DB_NAME=
 DB_USER=
 DB_PASSWORD=
 DB_PORT=




# Email configuration
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# Linkedin Configurations
SOCIAL_AUTH_LINKEDIN_OPENIDCONNECT_KEY=
SOCIAL_AUTH_LINKEDIN_OPENIDCONNECT_SECRET=